body {
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #007474;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vh;
    display: flex;
    align-items: center;
}

.nav-a {
    color: white;
    text-decoration: none;
    font: bold;
    text-align: left;
    margin-left: 5%;
}

.nav-b {
    color: white;
    text-decoration: none;
    font: bold;
    font-size: 20px;
    margin-left: 20%;
}

section {
    margin-top: 13vh;
}

.tirageClasse {
    text-align: center;
    font-size: 30px;
}

.classeSelected {
    margin-left: 0.5%;
    font-size: 25px;
    border-radius: 0%;
}

.classe {
    text-align: center;
}

.boutonClasse {
    margin-left: 0.5%;
    font-size: 25px;
    border-radius: 0%;
}

.boutonTirage {
    background-color: #007474;
    color: #fff;
    border-radius: 14px;
    border: none;
    padding: 10px 8px 10px 8px;
    margin: auto;
    cursor: pointer;
}

.boutonTirage:hover {
    background-color: #fff;
    color: #007474;
    transition: 0.2s;
}

.ResetNoteAddition {
    background-color: #007474;
    color: #fff;
    border-radius: 14px;
    border: none;
    padding: 10px 8px 10px 8px;
    margin: auto;
    cursor: pointer;
}

.ResetNoteAddition:hover {
    background-color: #fff;
    color: #007474;
    transition: 0.2s;
}

.boutonAbs {
    background-color: #007474;
    color: #fff;
    border-radius: 14px;
    border: none;
    padding: 10px 8px 10px 8px;
    margin: auto;
    cursor: pointer;
}

.boutonAbs:hover {
    background-color: #fff;
    color: #007474;
    transition: 0.2s;
}

.boutonAddNote {
    background-color: #007474;
    color: #fff;
    border-radius: 14px;
    border: none;
    padding: 10px 8px 10px 8px;
    margin: auto;
    cursor: pointer;
}

.boutonAddNote:hover {
    background-color: #fff;
    color: #007474;
    transition: 0.2s;
}

.tableau_liste_eleve {
    border: 1px solid black;
    text-align: center;
    margin: left;
}

.tr_liste_eleve {
    border: 1px solid black;
}

.td_liste_eleve {
    margin: 8px;
}